# Ignore everything
*

# But, re-include all directories so Git can search them
!*/

# Now, un-ignore IBD files of matching patterns
!**/*.cibd[0-9][0-9]
!**/*.ribd[0-9][0-9]
!**/*.gitkeep

# Un-ignore README.md files
!**/README.md

# Don't ignore the .gitignore file itself
!.gitignore

# Don't ignore the release-package.json file
!release-package.json

!pr-checks.json
!test-sets.json

!*/multi-family/contains-nonres-elements.json